[Unit]
Description=Check Zen Browser for Updates Daily (Every 24 hours)

[Timer]
OnBootSec=5min
OnUnitActiveSec=24h
Persistent=true

[Install]
WantedBy=timers.target
